@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@{
    ViewData["Title"] = "Change Admin Password";
}
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    <div class="d-flex align-items-center justify-content-between page-header-breadcrumb my-3 flex-wrap gap-2">
        <div>
            <nav>
                <ol class="breadcrumb mb-1">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Setting</a></li>
                    <i class="ri-arrow-right-s-line px-2"></i>
                    <li class="breadcrumb-item active" aria-current="page">Change Admin Password</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Change Admin Password
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Domain</label>
                            <select name="Domain" id="ddlDomain" class="form-control" required>
                                <option value="">---Select Domain---</option>
                                @if (ViewBag.DomainList != null)
                                {
                                    foreach (var domain in ViewBag.DomainList)
                                    {
                                        <option value="@domain.Domain">@domain.Domain</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="mb-1" for="OldPassword">Enter Old Password</label>
                            <input name="OldPassword" class="form-control" type="password" />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label class="mb-1" for="NewPassword">Enter New Password</label>
                            <input name="NewPassword" class="form-control" type="password" />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label class="mb-1" for="ConfPassword">Enter Confirm Password</label>
                            <input name="ConfPassword" class="form-control" type="password" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit-fn">Submit</button>
                    <br />
                    @if (ViewBag.Msg != null)
                    {
                        var isSuccess = ViewBag.Msg == "Password updated successfully";
                        <span asp-validation-summary="All"
                              style="color: @(isSuccess ? "green" : "red")">
                            @ViewBag.Msg
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>

}